@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
.snip1241 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
.snip1241 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1241 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1em;
  padding: 0;
}
.snip1241 a {
  padding: 0.5em 0.8em;
  color: rgba(0, 0, 0, 1);
  position: relative;
  text-decoration: none;
}
.snip1241 a:before,
.snip1241 a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.snip1241 a:before {
  right: 0;
  top: 0;
  border-right: 5px solid #f231f2;
  border-top: 3px solid #f231f2;
  -webkit-transform: translate(-100%, 50%);
  transform: translate(-100%, 50%);
}
.snip1241 a:after {
  left: 0;
  bottom: 0;
  border-left: 5px solid #6efdfd;
  border-bottom: 3px solid #6efdfd;
  -webkit-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
}
.snip1241 a:hover,
.snip1241 .current a {
  color: #000000;
}
.snip1241 a:hover:before,
.snip1241 .current a:before,
.snip1241 a:hover:after,
.snip1241 .current a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}

.nav-link{
  color: black !important;
}

.ion-social-youtube{
  margin: 0;
  transition: 0.3s ease-out;
}

.ion-social-youtube:hover{
  color: #cd201f;
  transition: 0.3s ease-out;
}

.ion-social-twitter{
  margin: 0;
  transition: 0.3s ease-out;
}

.ion-social-twitter:hover{
  color: #55acee;
  transition: 0.3s ease-out;
}

.ion-social-facebook{
  margin: 0;
  transition: 0.3s ease-out;
}

.ion-social-facebook:hover{
  color: #3b5999;
  transition: 0.3s ease-out;
}

.ion-social-instagram{
  margin: 0;
  transition: 0.3s ease-out;
}

.ion-social-instagram:hover{
  color: #e4405f;
  transition: 0.3s ease-out;
}

#videobg {
    position: fixed;
    width: 100%;
    
  }
  body{
    background-image: linear-gradient(to bottom right , rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('../img/landingbg2.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }
  .hero-text{
    margin-top: 13vh;
    padding-bottom:2vh !important;
    margin-bottom: 2vh; 
    font-size: 30px; 
}
  .support-hero{
    margin-bottom : 10vh;
    font-family: Montserrat;
    font-size: 18px;
  }
  .social-icons{
    padding: 0%;
    font-size:20px;
    color:black;
    display: inline-block;
  }
  .pos-rel{
    position: relative;
  }

.scroll{
  visibility: hidden;
}

.nav-tgl {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  z-index: 100;
  right: 30px;
  top: 30px;
  width: 150px;
  height: 70px;
  border: none;
  border-radius: 0%;
  font-size: 16px;
  padding: 0;
  background: #fff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.24);
  line-height: 0;
  text-align: center;
  transition: 0.5s;
}
/*MAIN CONTENT CSS*/

.container1{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 20vh;
}
.container1 #title{
    font-family: 'Comfortaa'; 
    font-weight: bolder;
    font-size: 8vh;
    margin-top: 2vh;
}
 .container1 .p1{
     font-family: 'Montserrat';
     font-size: 24px;
 }

 
 /*MAIN CONTENT CSS OVER*/


 
